{{define "base"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{template "title" .}} - Snippetbox</title>

		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<!-- class="flex flex-col justify-center items-center border-2 w-1/2 mx-auto" -->
		<!-- class="p-4 border-2 w-1/2 mx-auto" -->
		<!-- class="w-3/4 mx-auto flex flex-col flex-1" -->
		<div
			class="w-3/4 mx-auto flex-col h-dvh flex-row min-h-screen justify-center items-center"
		>
			<header class="text-center">
				<h1 class="text-3xl"><a href="/">Snippetbox</a></h1>
			</header>
			{{template "nav" .}}
			<!-- class="h-dvh min-h-screen" -->
			<main>{{template "main" .}}</main>
			<footer class="text-xl">
				Powered by <a href="https://golang.org/" class="text-blue-700">Go</a>
			</footer>
		</div>
	</body>
</html>
{{end}}
